html,
body {
  height: 100%;
  background-color: #F1F1F1;
}
html .mmm_container,
body .mmm_container {
  height: 100%px;
  margin: 0 auto;
  font-size: 14px;
}
html .mmm_container header,
body .mmm_container header {
  width: 100%;
  height: 50px;
  background-color: #FF841D;
  position: relative;
}
html .mmm_container header .header_logo,
body .mmm_container header .header_logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
html .mmm_container header .header_logo img,
body .mmm_container header .header_logo img {
  width: 185.5px;
  height: 25px;
}
html .mmm_container header .header_app,
body .mmm_container header .header_app {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
html .mmm_container header .header_app img,
body .mmm_container header .header_app img {
  width: 34px;
  height: 34px;
}
html .search,
body .search {
  height: 50px;
  background-color: #fff;
  position: relative;
  padding: 10px;
}
html .search .search_button,
body .search .search_button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 63px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #FF841D;
  font-size: 16px;
  color: #fff;
}
html .search .search_content,
body .search .search_content {
  height: 30px;
  padding-right: 70px;
}
html .search .search_content .search_txt,
body .search .search_content .search_txt {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #F1F1F1;
  border-radius: 15px;
  padding-left: 20px;
}
html footer,
body footer {
  margin-top: 25px;
  width: 100%;
  height: 94px;
  background-color: #EFEFEF;
}
html footer .footer_link,
body footer .footer_link {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
html footer .footer_link > a,
body footer .footer_link > a {
  float: left;
  width: 33.33%;
  height: 34px;
  text-align: center;
  line-height: 32px;
  color: #000;
  border-right: 1px solid #ccc;
  font-size: 14px;
}
html footer .footer_link > a:last-child,
body footer .footer_link > a:last-child {
  border-right: none;
}
html footer .footer_link > a:last-child img,
body footer .footer_link > a:last-child img {
  width: 15px;
  height: 15px;
  display: inline-block;
}
html footer .app_downLoad,
body footer .app_downLoad {
  text-align: center;
  font-size: 12px;
}
html footer .app_downLoad .first_line,
body footer .app_downLoad .first_line {
  margin-top: 12px;
}
html footer .app_downLoad .first_line .download,
body footer .app_downLoad .first_line .download {
  color: red;
}
html footer .app_downLoad .first_line .mobile,
body footer .app_downLoad .first_line .mobile {
  color: #000;
}
header {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F4483E !important;
}
header .header_logo {
  width: 50px;
  height: 50px;
  background: url('../images/icon_bar.png') no-repeat -92px 2px;
  background-size: 220px 132px;
}
header h3 {
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.tips {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  background-color: #F7F7F7;
  text-align: center;
  color: #999;
}
.couponproduct_list {
  background-color: #fff;
}
.couponproduct_list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.couponproduct_list li .img_box {
  float: left;
  width: 120px;
  height: 100px;
}
.couponproduct_list li .img_box img {
  width: 100px;
  height: 100px;
}
.couponproduct_list li .coupon_des {
  overflow: hidden;
  position: relative;
  min-height: 100px;
}
.couponproduct_list li .coupon_des .des_text {
  color: #333;
  line-height: 20px;
  text-align: justify;
}
.couponproduct_list li .coupon_des .price {
  color: #000;
  font-weight: bold;
  line-height: 30px;
}
.couponproduct_list li .coupon_des .time {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 12px;
  color: #EE7700;
}
.couponproduct_list li .more {
  float: right;
  width: 40px;
  height: 100px;
  background: url('../images/icon_bar.png') no-repeat -200px 0;
  transform: rotate(180deg) scale(0.5);
}
