html,
body {
  height: 100%;
  background-color: #F1F1F1;
}
html .mmm_container,
body .mmm_container {
  height: 100%px;
  margin: 0 auto;
  font-size: 14px;
}
html .mmm_container header,
body .mmm_container header {
  width: 100%;
  height: 50px;
  background-color: #FF841D;
  position: relative;
}
html .mmm_container header .header_logo,
body .mmm_container header .header_logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
html .mmm_container header .header_logo img,
body .mmm_container header .header_logo img {
  width: 185.5px;
  height: 25px;
}
html .mmm_container header .header_app,
body .mmm_container header .header_app {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
html .mmm_container header .header_app img,
body .mmm_container header .header_app img {
  width: 34px;
  height: 34px;
}
html .search,
body .search {
  height: 50px;
  background-color: #fff;
  position: relative;
  padding: 10px;
}
html .search .search_button,
body .search .search_button {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 63px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #FF841D;
  font-size: 16px;
  color: #fff;
}
html .search .search_content,
body .search .search_content {
  height: 30px;
  padding-right: 70px;
}
html .search .search_content .search_txt,
body .search .search_content .search_txt {
  display: block;
  width: 100%;
  height: 30px;
  background-color: #F1F1F1;
  border-radius: 15px;
  padding-left: 20px;
}
html footer,
body footer {
  margin-top: 25px;
  width: 100%;
  height: 94px;
  background-color: #EFEFEF;
}
html footer .footer_link,
body footer .footer_link {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
html footer .footer_link > a,
body footer .footer_link > a {
  float: left;
  width: 33.33%;
  height: 34px;
  text-align: center;
  line-height: 32px;
  color: #000;
  border-right: 1px solid #ccc;
  font-size: 14px;
}
html footer .footer_link > a:last-child,
body footer .footer_link > a:last-child {
  border-right: none;
}
html footer .footer_link > a:last-child img,
body footer .footer_link > a:last-child img {
  width: 15px;
  height: 15px;
  display: inline-block;
}
html footer .app_downLoad,
body footer .app_downLoad {
  text-align: center;
  font-size: 12px;
}
html footer .app_downLoad .first_line,
body footer .app_downLoad .first_line {
  margin-top: 12px;
}
html footer .app_downLoad .first_line .download,
body footer .app_downLoad .first_line .download {
  color: red;
}
html footer .app_downLoad .first_line .mobile,
body footer .app_downLoad .first_line .mobile {
  color: #000;
}
header {
  padding-left: 50px;
  padding-right: 50px;
}
header .header_logo {
  width: 50px;
  height: 50px;
  background: url('../images/icon_bar.png') no-repeat -92px 2px;
  background-size: 220px 132px;
}
header h3 {
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
nav {
  position: relative;
}
nav .gsproduct_title {
  background-color: #fff;
  height: 40px;
}
nav .gsproduct_title > a {
  float: left;
  width: 33.33%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #000;
  font-size: 16px;
}
nav .gsproduct_title > a::after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 5px solid #000;
  margin-left: 8px;
  vertical-align: baseline;
}
nav ul {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40px;
  background-color: #fff;
  display: none;
  z-index: 100;
}
nav ul.active {
  display: block;
}
nav ul li {
  border-top: 1px solid #eee;
}
nav ul li a {
  padding: 0 10px;
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  position: relative;
}
nav ul li a.checked::after {
  content: '√';
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 40px;
  color: #FF4400;
  font-size: 16px;
  transform: scaleX(2);
}
.gsprodct_list {
  width: 98%;
  margin: 0 auto;
  margin-top: 10px;
}
.gsprodct_list li {
  float: left;
  width: 49.5%;
  margin-bottom: 10px;
  background-color: #fff;
}
.gsprodct_list li:nth-child(even) {
  float: right;
}
.gsprodct_list li a {
  display: block;
  width: 100%;
  min-height: 250px;
  padding: 10px;
  position: relative;
}
.gsprodct_list li a .img_box {
  height: 174px;
}
.gsprodct_list li a .img_box img {
  width: 174px;
  height: 174px;
  margin: 0 auto;
}
.gsprodct_list li a h4 {
  color: #000;
  margin-top: 5px;
  font-size: 12px;
}
.gsprodct_list li a .bottom {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 28px;
  padding: 0 10px;
}
.gsprodct_list li a .bottom .price {
  color: #F8601D;
  font-size: 20px;
}
.gsprodct_list li a .bottom .add {
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
  line-height: 28px;
  background-color: #FF9501;
  border-radius: 5px;
  color: #fff;
}
